@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html{
    font-family: "Montserrat", sans-serif;;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #000; /* Black background for scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000; /* Black color for the scrollbar thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
  }
  